<h1>{{ title }}</h1>

<div class="row">
    <div class="col-lg-offset-3 col-lg-6 pull-left">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="New item.." [(ngModel)]="newListItem">
            <span class="input-group-btn">
                <button class="btn btn-info" (click)="addNewValue()" type="button">Add to List</button>
            </span>
        </div>
    </div>
</div>

<br />
<div class="row" *ngFor="let item of items">
    <label [style.text-decoration]="item.done ? 'line-through' : 'none'">
        <input type="checkbox" [(ngModel)]="item.done" /> {{ item.title }}
    </label>
</div>
